---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import LinkButton from "../components/LinkButton";
---

<Layout title={`404 Not Found | ${SITE.title}`}>
  <Header />

  <main id="@apply mx-auto flex max-w-3xl flex-1 items-center justify-center">
    <div class="@apply mb-14 flex flex-col items-center justify-center">
      <h1
        class="@apply text-9xl font-bold text-skin-accent"
        aria-label="404 Not Found"
      >
        404
      </h1>
      <span aria-hidden="true">¯\_(ツ)_/¯</span>
      <p class="@apply mt-4 text-2xl sm:text-3xl">Page Not Found</p>
      <LinkButton
        href="/bloghive"
        className="my-6 underline decoration-dashed underline-offset-8 text-lg"
      >
        Go back home
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>
