---
import Layout from "@layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Socials from "../components/Socials";
import LinkButton from "../components/LinkButton";
import { SOCIALS } from "@config";

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>👋 Hi, I'm Nipun</h1>
      <p>
        A tech enthusiast living the dream of a full-time software engineer with
        a passion for designing and engineering digital products. My diverse
        background includes roles such as Associate technical lead, Full stack
        software engineer and UI/UX designer. I'm spezalied in full stack
        development as well as mobile app development with over 5 years of
        experience.I like to craft solid and scalable products with great user
        experiences. With the background as a UI/UX designer, I understands the
        importance of prioritizing user experience and quality of the product
        while maintaining and delivering clean and efficient codebase.
        <br />
        <br />
        I graduated with a BSc (Hons) in Computer Science and Software Engineering
        from the University of bedfordshire. with my skill set I've built products
        for companies and businesses around the globe ranging from marketing websites
        to complex solutions and enterprise apps with focus on fast, elegant and
        accessible user experiences.
        <br />
        <br />
        When I'm not at the computer, I'm usually hanging out with my friends, playing
        games or dreaming.
        <br />
        <br />
        <LinkButton
          className="font-bold"
          href={"../assets/Resume-NipunKalansuriya.pdf"}
          download="Resume-NipunKalansuriya.pdf"
          title={"Click here to download my CV"}
        >
          <span class="border-b-2 decoration-wavy"
            >Click here to download my CV 📑</span
          >
        </LinkButton>
        <br />
        <br />
      </p>
      {
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>
  </main>
  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pt-8 pb-6;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mr-2 mb-1 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pt-12 pb-6;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
